################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharpOO_Operators/bin/Debug/netcoreapp3.1
/CSharpOO_Operators/obj
